services:
  database:
    image: postgres:17
    restart: always
    env_file:
        - "./.env"
    ports:
        - "5432:5432"
    volumes:
        - db_data:/var/lib/postgresql/data
    container_name: postgres
  api:
    build: . 
    ports:
        - "8080:8080"
    container_name: api
    depends_on:
      database:
        condition: service_started

volumes:
  db_data:
